h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: lower-latin;
}

.p-style {
   color:hotpink;
   text-align: right;
   font-size: 40px;
}